<a href="https://colab.research.google.com/github/HoanDiep/BT2_Tri_tue_nhan_tao/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
value1 = input('Nhap vao so thu nhat: ')
value2 = input('Nhap vao so thu hai: ')
print(value1+value2)
print(int(value1)+int(value2))

In [5]:
#write to file
with open ('text.txt', mode='w') as account:
  account.write('20146090 Diep Khai Hoan 10\n')
  account.write('20146091 Nguyen Le Phong 9\n')
  account.write('20146092 Huynh Quoc Dan 8\n')
  account.write('20146093 Tran Khanh Duy 7\n')
  account.write('20146094 Nguyen Huu Chi 6\n')

In [7]:
with open ('text1.txt',mode ='w') as account:
  account.write('20146090 Diep Khai Hoan 10\n')
  account.write('20146091 Nguyen Le Phong 9\n')
  account.write('20146092 Huynh Quoc Dan 8\n')
  account.write('20146093 Tran Khanh Duy 7\n')
  account.write('20146094 Nguyen Huu Chi 6\n')
  print('20146095 Tran Le Nhat Huy 5\n', file = account)

In [ ]:
with open('text.txt', mode ='w')as account:
  print(f"{'MSSV ':<10}{'Name':<10}{'Score':>2}")
  for record in account:
    MSSV,Name,Score = record.split()
    print(f"{'MSSV ':<10}{'Name':<10}{'Score':>2}")

In [ ]:
import pandas as pd
url = 'Book1.csv'
dataframe = pd.read_csv(url)
dataframe.head(22)
dataframe.iloc[:10]

In [38]:
import pandas as pd
url = 'Book1.csv'
dataframe = pd.read_csv(url)
dataframe.head(23)

    STT      MSSV         Ho va ten  Diem   Khoa
0     1  20146090    Diep Khai Hoan     8    CKM
1     2  20146091   nguyen Le Phong     9   CKDL
2     3  20146092    Huynh Quoc Dan     7     KT
3     4  20146093    Nguyen Huu Chi     6    CKM
4     5  20146095    Tran Khanh Duy     4    CKM
5     6  19487034  Tran Le Nhat Huy     8    CKM
6     7  20146097   Duong Thanh Dat     3     KT
7     8  19782708      Nguyen Van A     2   CKDL
8     9  20186937      Nguyen Van B     7   CKDL
9    10  20978473      Nguyen Van C     9     KT
10   11  19059784      Nguyen Van D     6     KT
11   12  19140987      Nguyen Van E     5    CKM
12   13  21047856      Nguyen Van F     4    CKM
13   14  21148705      Nguyen Van G     8    CKM
14   15  17159806      Nguyen Van H     3  CKDL
15   16  18110925      Nguyen Van J    10   CKDL
16   17  17150975      Nguyen Van K     6     KT
17   18  20146895      Nguyen Van L     4    CKM
18   19  19140695      Nguyen Van M     8    CKM
19   20  19406546      Nguyen Van N     5   CKDL

In [ ]:
import pandas as pd
url = 'Book1.csv'
dataframe = pd.read_csv(url)
dataframe = dataframe.set_index(dataframe['Ho va ten'])
dataframe.loc['Nguyen Van A']

In [ ]:
import pandas as pd
url = 'Book1.csv'
dataframe = pd.read_csv(url)
dataframe[dataframe['Khoa'] =='CKM'].head(10)

In [28]:
import pandas as pd
url = 'Book1.csv'
dataframe = pd.read_csv(url)
dataframe[(dataframe['Khoa']=='CKDL')&(dataframe['Ho va ten']=='Nguyen Van A')]

   STT      MSSV     Ho va ten  Diem  Khoa
7    8  19782708  Nguyen Van A     2  CKDL

In [29]:
dataframe['Khoa'].replace('CKM','Cơ Khí máy').head(10)

0    Cơ Khí máy
1          CKDL
2            KT
3    Cơ Khí máy
4    Cơ Khí máy
5    Cơ Khí máy
6            KT
7          CKDL
8          CKDL
9            KT
Name: Khoa, dtype: object

In [30]:
dataframe.replace('CKDL','Cơ khí động lực').head(10)

   STT      MSSV         Ho va ten  Diem             Khoa
0    1  20146090    Diep Khai Hoan     8              CKM
1    2  20146091   nguyen Le Phong     9  Cơ khí động lực
2    3  20146092    Huynh Quoc Dan     7               KT
3    4  20146093    Nguyen Huu Chi     6              CKM
4    5  20146095    Tran Khanh Duy     4              CKM
5    6  19487034  Tran Le Nhat Huy     8              CKM
6    7  20146097   Duong Thanh Dat     3               KT
7    8  19782708      Nguyen Van A     2  Cơ khí động lực
8    9  20186937      Nguyen Van B     7  Cơ khí động lực
9   10  20978473      Nguyen Van C     9               KT

# Mục mới

In [34]:
print('Điểm cao nhất',dataframe['Diem'].max())
print('Điểm thấp nhat ',dataframe['Diem'].min())
print('Điểm trung binh',dataframe['Diem'].mean())
print('Điểm tổng',dataframe['Diem'].sum())

Điểm cao nhất 10
Điểm thấp  2
Điểm trung binh 6.1
Điểm tổng 122

In [36]:
dataframe['Khoa'].unique()
dataframe['Khoa'].value_counts()

CKM      9
CKDL     5
KT       5
CKDL     1
Name: Khoa, dtype: int64

In [47]:
dataframe['Khoa'].value_counts()

CKM      9
CKDL     5
KT       5
CKDL     1
Name: Khoa, dtype: int64

In [46]:
dataframe['Khoa'].unique()

array(['CKM', 'CKDL', 'KT', 'CKDL '], dtype=object)

In [44]:
dataframe.drop(['MSSV'],axis=1).head(10)

   STT         Ho va ten  Diem  Khoa
0    1    Diep Khai Hoan     8   CKM
1    2   nguyen Le Phong     9  CKDL
2    3    Huynh Quoc Dan     7    KT
3    4    Nguyen Huu Chi     6   CKM
4    5    Tran Khanh Duy     4   CKM
5    6  Tran Le Nhat Huy     8   CKM
6    7   Duong Thanh Dat     3    KT
7    8      Nguyen Van A     2  CKDL
8    9      Nguyen Van B     7  CKDL
9   10      Nguyen Van C     9    KT

In [45]:
dataframe.drop(dataframe.columns[2:4],axis=1).head(10)

   STT      MSSV  Khoa
0    1  20146090   CKM
1    2  20146091  CKDL
2    3  20146092    KT
3    4  20146093   CKM
4    5  20146095   CKM
5    6  19487034   CKM
6    7  20146097    KT
7    8  19782708  CKDL
8    9  20186937  CKDL
9   10  20978473    KT

In [48]:
dataframe[dataframe['Khoa']!='CKM'].head(10)

    STT      MSSV        Ho va ten  Diem   Khoa
1     2  20146091  nguyen Le Phong     9   CKDL
2     3  20146092   Huynh Quoc Dan     7     KT
6     7  20146097  Duong Thanh Dat     3     KT
7     8  19782708     Nguyen Van A     2   CKDL
8     9  20186937     Nguyen Van B     7   CKDL
9    10  20978473     Nguyen Van C     9     KT
10   11  19059784     Nguyen Van D     6     KT
14   15  17159806     Nguyen Van H     3  CKDL
15   16  18110925     Nguyen Van J    10   CKDL
16   17  17150975     Nguyen Van K     6     KT

In [50]:
dataframe[dataframe['Diem']>=5].head(10)

    STT      MSSV         Ho va ten  Diem  Khoa
0     1  20146090    Diep Khai Hoan     8   CKM
1     2  20146091   nguyen Le Phong     9  CKDL
2     3  20146092    Huynh Quoc Dan     7    KT
3     4  20146093    Nguyen Huu Chi     6   CKM
5     6  19487034  Tran Le Nhat Huy     8   CKM
8     9  20186937      Nguyen Van B     7  CKDL
9    10  20978473      Nguyen Van C     9    KT
10   11  19059784      Nguyen Van D     6    KT
11   12  19140987      Nguyen Van E     5   CKM
13   14  21148705      Nguyen Van G     8   CKM

In [51]:
#xoa hang du lieu thu 4
dataframe[dataframe.index!=4].head(10)

    STT      MSSV         Ho va ten  Diem  Khoa
0     1  20146090    Diep Khai Hoan     8   CKM
1     2  20146091   nguyen Le Phong     9  CKDL
2     3  20146092    Huynh Quoc Dan     7    KT
3     4  20146093    Nguyen Huu Chi     6   CKM
5     6  19487034  Tran Le Nhat Huy     8   CKM
6     7  20146097   Duong Thanh Dat     3    KT
7     8  19782708      Nguyen Van A     2  CKDL
8     9  20186937      Nguyen Van B     7  CKDL
9    10  20978473      Nguyen Van C     9    KT
10   11  19059784      Nguyen Van D     6    KT

In [52]:
dataframe.drop_duplicates().head(10)

   STT      MSSV         Ho va ten  Diem  Khoa
0    1  20146090    Diep Khai Hoan     8   CKM
1    2  20146091   nguyen Le Phong     9  CKDL
2    3  20146092    Huynh Quoc Dan     7    KT
3    4  20146093    Nguyen Huu Chi     6   CKM
4    5  20146095    Tran Khanh Duy     4   CKM
5    6  19487034  Tran Le Nhat Huy     8   CKM
6    7  20146097   Duong Thanh Dat     3    KT
7    8  19782708      Nguyen Van A     2  CKDL
8    9  20186937      Nguyen Van B     7  CKDL
9   10  20978473      Nguyen Van C     9    KT

In [55]:
dataframe.groupby('Khoa').head(10)

    STT      MSSV         Ho va ten  Diem   Khoa
0     1  20146090    Diep Khai Hoan     8    CKM
1     2  20146091   nguyen Le Phong     9   CKDL
2     3  20146092    Huynh Quoc Dan     7     KT
3     4  20146093    Nguyen Huu Chi     6    CKM
4     5  20146095    Tran Khanh Duy     4    CKM
5     6  19487034  Tran Le Nhat Huy     8    CKM
6     7  20146097   Duong Thanh Dat     3     KT
7     8  19782708      Nguyen Van A     2   CKDL
8     9  20186937      Nguyen Van B     7   CKDL
9    10  20978473      Nguyen Van C     9     KT
10   11  19059784      Nguyen Van D     6     KT
11   12  19140987      Nguyen Van E     5    CKM
12   13  21047856      Nguyen Van F     4    CKM
13   14  21148705      Nguyen Van G     8    CKM
14   15  17159806      Nguyen Van H     3  CKDL
15   16  18110925      Nguyen Van J    10   CKDL
16   17  17150975      Nguyen Van K     6     KT
17   18  20146895      Nguyen Van L     4    CKM
18   19  19140695      Nguyen Van M     8    CKM
19   20  19406546      Nguyen Van N     5   CKDL

In [57]:
dataframe.groupby('Khoa').count()

       STT  MSSV  Ho va ten  Diem
Khoa
CKDL     5     5          5     5
CKDL     1     1          1     1
CKM      9     9          9     9
KT       5     5          5     5

In [60]:
dataframe.groupby(['Khoa','Diem']).count()

            STT  MSSV  Ho va ten
Khoa  Diem
CKDL  2       1     1          1
      5       1     1          1
      7       1     1          1
      9       1     1          1
      10      1     1          1
CKDL  3       1     1          1
CKM   4       3     3          3
      5       1     1          1
      6       1     1          1
      8       4     4          4
KT    3       1     1          1
      6       2     2          2
      7       1     1          1
      9       1     1          1

In [61]:
dataframe.groupby('Khoa')['Diem'].count()
#nhom khoa lai va mot khoa co bao nhieu diem

Khoa
CKDL     5
CKDL     1
CKM      9
KT       5
Name: Diem, dtype: int64

In [66]:
from pandas._libs.tslibs import period
import pandas as pd
import numpy as np
time_index = pd.date_range('01/01/2023',periods=100000,freq='30s')
dataframe = pd.DataFrame(index=time_index)
dataframe['Acess_Amount']=np.random.randint(1,10,100000)
dataframe.resample('W').sum()

            Acess_Amount
2023-01-01         14158
2023-01-08        100788
2023-01-15        100677
2023-01-22        101271
2023-01-29        100695
2023-02-05         82116

In [69]:
dataframe.resample('2W').mean

In [101]:
import pandas as pd
url='medals.csv'
data=pd.read_csv(url)
#tinh so huy chuong cua CAN

data1 = data[data['NOC']=='CAN']
CAN_medals = len(data1)
print('So huy chuong cua CAN la: ',CAN_medals)

So huy chuong vang cua CAN la:  119

In [99]:
import pandas as pd
url='medals.csv'
data=pd.read_csv(url)
data1 = data[(data['Event']=='individual')&(data['Medal']=='Gold')]
A = len(data1)
print('So huy chuong vang ca nhan la: ',A)

So huy chuong vang ca nhan la  65